.q1{
	height: 100px;
	width: 100px;
	border:2px dotted black;
	border-radius: 5px;
}

.bg{
	width: 100%;
	height: 500px;
	background-image: url("bg-circles.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
 .header{
 	display: flex;
 	justify-content: space-between;
 }
.q2{
	margin-left: 135px;

}
.rw{
	list-style: none;
	display: flex;

}
.rw li{
	margin-left: 30px;
	color: white;

	
}
.e1{

  	color: white;
    
}
.p1{
	color: white;
	/*text-align: right;*/
}
.p2{
    border: solid 2px white;
    color: white;
    padding: 10px;
    font-size: 29px;
}
.p3{
	margin-left: 350px;
}
.p4{
	width: 800px;
	margin:0 auto;
}
.p5{
	width: 99px;
	height: 21px;
	margin-left: 263px;
	margin-top: 35px;

}
.title{
	padding-left: 100px;
	width: 286px;
	margin: 0 auto;

}
.p6{

	width: 100%;
	height: 281px;
	background-color: #2D5F3A;
	display: flex;
}
.item{
	width: 33.33%;
	height: 250px;
	box-sizing: border-box;
	padding: 50px;
}
.red{
	background-color: #F74C55;
	height:281px; 
}
.p7{
	color: white;
	margin-left: 11px;
	display: inline;
}
.p8{
	width: 35px;
	height: 35px;
	margin-top: 26px;
	display: inline;
	margin-left: 50px;


}
.p9{
	color: white;
	display: inline;
}
.p10{
	color: white;
	margin-left: 100px;
	display: inline;
}
.p11{
	width: 10px;
	display: inline;
	color: white;
}
.bg1{
	background-image: url(poco.jpg);
	height: 250px;
	padding-top: 244px;
	background-repeat: no-repeat;	
	background-size: 100%;
	
	width: 100%;

}
.p12{
	color: white;
	text-align: center;
    
}
.p13{
	border: solid 2px white;
    color: white;
    padding: 10px;
    font-size: 29px;
    margin-left:537px;
}
.p14{
	width: 100%;
	height: 12px;
}
.p15{
     width: 100%;
     height: 38px;
     background-color: white;
}
.p16{
	margin-left: 420px;
}